
@font-face {
  font-family: 'Redressed';
  src: font_url('Redressed.eot?#iefix') format('embedded-opentype'),  
       font_url('Redressed.woff') format('woff'),
       font_url('Redressed.ttf')  format('truetype'), 
       font_url('Redressed.svg#Redressed') format('svg');
  font-weight: normal;
  font-style: normal;
}
