
@font-face {
  font-family: 'Redressed';
  src: url('Redressed.eot?#iefix') format('embedded-opentype'),  url('Redressed.woff') format('woff'), url('Redressed.ttf')  format('truetype'), url('Redressed.svg#Redressed') format('svg');
  font-weight: normal;
  font-style: normal;
}
